<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout-list">

    <!-- index.html 고유 CSS 추가 -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" href="/css/detail.css">
    </th:block>

    <div layout:fragment="content">
        <div class="main">
            <div class="info">
                 <h2 class="title" th:text="${home.name}"><!--숙소명--></h2>
                 <div class="sub-info">
                     <p><i class="fas fa-star"></i>&nbsp;<span class="point">4.94</span>&nbsp;<span class="review-cnt">(후기 <span>65</span>개)</span>&nbsp;&nbsp;·&nbsp;&nbsp;</p>
                     <p><i class="fas fa-medal"></i>&nbsp;&nbsp;슈퍼호스트&nbsp;&nbsp;·&nbsp;&nbsp;</p>
                     <p><b th:text="${home.address}"><!--주소--></b></p>
                 </div>
                 <ul class="sns">
                     <li><i class="fas fa-external-link-alt"></i><a>공유하기</a></li>
                     <li><i class="far fa-heart"></i><a>저장</a></li>
                 </ul>
                 <div class="images">
                    <div th:each="photo : ${home.photo}" th:utext='${"<img src=" + photo.filePath + ">"}'></div>
                 </div>
            </div>
            <div class="detail-container">
                <div class="detail">
                    <div class="title">
                        <h2><span th:text="${home.host}"></span>님이 호스팅하는 <span th:text="${home.type}"></span></h2>
                        <p>최대 인원 <span th:text="${home.guest}"></span>명 · 침실 <span th:text="${home.room}"></span>개 · 침대 <span th:text="${home.bed}"></span>개 · 욕실 <span th:text="${home.bathroom}"></span>개</p>
                        <div class="profile-img"><img src="/images/profile.jpg"></div>
                    </div>
                </div>
                <div class="btn-group">
                    <ul>
                        <li><a th:href="@{/home/edit/{id}(id = ${home.id})}">수정하기</a></li>
                        <li><a th:href="@{/home/delete/{id}(id = ${home.id})}">삭제하기</a></li>
                    </ul>
                    <div class="book-container">
                        <div class="top">
                            <p class="price"><span>₩</span><span th:text="${#numbers.formatDecimal(home.price, 0, 'COMMA', 0, 'POINT')}"></span> / 박</p>
                            <input th:type="hidden" th:value="${home.price}" class="hidden-price">
                            <p><i class="fas fa-star"></i>&nbsp;<span class="point">4.94</span>&nbsp;<span class="review-cnt">(후기 <span>65</span>개)</span></p>
                        </div>
                        <div class="date-container">
                            <div class="date-top">
                                <div class="checkin">
                                    <p>체크인</p>
                                    <input type="text" id="date_start" class="date"/>
                                </div>
                                <div class="checkout">
                                    <p>체크아웃</p>
                                    <input type="text" id="date_end" class="date"/>
                                </div>
                            </div>
                            <div class="guest-bot">
                                <p>인원</p>
                                <input type="text" id="guest" class="guest" readonly/>
                                <div class="guest-select-box">
                                    <table>
                                        <tr>
                                            <td class="title">성인</td>
                                            <td class="cnt">
                                                <span class="cnt-minus"><i class="fas fa-minus"></i></span>
                                                <input type="text" class="guest-cnt adult-cnt" value="1">
                                                <span class="cnt-plus"><i class="fas fa-plus"></i></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="title">어린이<p>만 2~12세</p></td>
                                            <td class="cnt">
                                                <span class="cnt-minus"><i class="fas fa-minus"></i></span>
                                                <input type="text" class="guest-cnt kid-cnt" value="0">
                                                <span class="cnt-plus"><i class="fas fa-plus"></i></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="title">유아<p>만 2세 미만</p></td>
                                            <td class="cnt">
                                                <span class="cnt-minus"><i class="fas fa-minus"></i></span>
                                                <input type="text" class="guest-cnt baby-cnt" value="0">
                                                <span class="cnt-plus"><i class="fas fa-plus"></i></span>
                                            </td>
                                        </tr>
                                    </table>
                                    <a>닫기</a>
                                </div>
                            </div>
                        </div>
                        <a >예약하기</a>
                        <div class="total-container">
                            총 합계
                            <p>₩<span id="num_nights">0</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <th:block layout:fragment="script">
            <script src="/js/detail.js"></script>
        </th:block>
    </div>
</html>