<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Aribnb</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- 노토산스 -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body class="main">
    <a href="/home/add">추가</a>
    <table>
        <tr>
            <td>숙소명</td>
            <td>호스트</td>
            <td>주소</td>
            <td>사진</td>
            <td>설명</td>
            <td>최대인원</td>
            <td>침실 수</td>
            <td>침대 수</td>
            <td>욕실 수</td>
        </tr>
        <tr th:each="home : ${homes}">
            <td th:text="${home.name}"></td>
            <td th:text="${home.host}"></td>
            <td th:text="${home.address}"></td>
            <td th:text="${home.description}"></td>
            <td th:text="${home.guest}"></td>
            <td th:text="${home.room}"></td>
            <td th:text="${home.bed}"></td>
            <td th:text="${home.bathroom}"></td>
            <td th:each="facilite : ${home.facilities}">
                <span th:text="${facilite.name}"></span>
            </td>
            <td>
                <a th:href="@{'/home/edit/' + ${home.id}}">수정</a>
            </td>
            <td>
                <form th:action="@{'/home/delete/' + ${home.id}}" method="post">
                    <button>삭제</button>
                </form>
            </td>
            <td>
                <div th:each="photo : ${home.photo}" th:utext='${"<img src=" + photo.filePath + ">"}'>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>