<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout-list">

    <!-- index.html 고유 CSS 추가 -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" href="/css/list.css">
    </th:block>

    <div layout:fragment="content">
        <div class="main">
            <h2 class="title">
                <p>300개의 숙소</p>
                자연생활을 만끽할 수 있는 숙소
                <a th:href="@{/home/add}">숙소 등록하기</a>
            </h2>
            <ul class="home-list">
                <li th:each="home : ${homes}">
                    <div class="thumb swiper-container">
                        <div class="swiper-wrapper" th:onclick="'location.href=\''+ @{/home/detail/{id}(id = ${home.id})} + '\''">
                            <div class="swiper-slide" th:each="photo : ${home.photo}" th:utext='${"<img src=" + photo.filePath + ">"}'></div>
                        </div>
                        <div class="swiper-button-next"><i class="fas fa-chevron-circle-right"></i></div>
                        <div class="swiper-button-prev"><i class="fas fa-chevron-circle-left"></i></div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <div class="info">
                        <p class="loc" th:text="${home.address}">Balamban, 중부 비사야, 필리핀</p><p class="price">₩ <span th:text="${#numbers.formatDecimal(home.price, 0, 'COMMA', 0, 'POINT')}"></span> / 박</p>
                    </div>
                </li>
            </ul>
            <script>
                $(document).ready(function(){
                    thumb(); // 창 크기 초기화
                    $( window ).resize( function() {
                        thumb(); // 창 크기가 변할때마다 변경
                    });
                });
                function thumb() { // 창 크기에 맞춰 썸네일 크기 변경
                    $('.home-list > li > .thumb').each(function () {
                        $(this).css('height', $(this).width());
                    });
                }

                var swiper = new Swiper(".thumb", { // 스와이프 플러그인
                    touchRatio: 0,
                    pagination: {
                        el: ".swiper-pagination",
                    },
                    navigation: {
                        nextEl: ".swiper-button-next",
                        prevEl: ".swiper-button-prev",
                    },
                });
            </script>
        </div>
    </div>
</html>